/* CSS Document */
h1 {
	padding-top: 1rem;
}

footer {
	text-align: center;
}

a {
	color: #981e32;
	text-decoration: none;
}

#banner {
	position: relative;
	border-bottom: 2px solid #ccc;
}

#banner > div {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

.pub-title {
	padding: 20px 0;
}

.pub-title h1 {
	margin: 0;
	padding: 0;
	line-height: 30px;
}

.pub-title .author {
	padding: 10px 0 0;
	font-weight: bold;
}

