body {
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
	line-height: 18px;
}

h1,h2,h3,h4,h5 {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 0 0.5rem;
	margin: 0;
}

h1 {
	font-size: 26px;
	line-height: 28px;
}

p {
	margin: 0 0 1rem;
}

h2 {
	font-size: 22px;
	line-height: 24px;
}

ul {
	margin: 0 0 1.5rem;
}

li {
	padding-bottom: 0.25rem;
}

img {
	max-width: 100%;
	display: inline-block;
	display: -dompdf-image !important;
}

footer {
	position: fixed;
	bottom: 8px;
	padding-top: 0.25rem;
	border-top: 1px solid #ccc;
}

a {
	font-weight: bold;
	color: #981e32;
}


.column {
	display: inline-block;
	vertical-align: top;
}

.row {
	width: 725px;
	box-sizing:border-box;
}

.row.single .column {
	display: block;
	vertical-align: top;
	box-sizing:border-box;
}

.row.side-right .column.one { width:65.66%; margin-right: 2%; }
.row.side-right .column.two { width:32.33%; margin-left: 2%;}
.row.side-right.right-25 .column.one { width:74%; margin-right: 2%;}
.row.side-right.right-25 .column.two { width:24%; margin-left: 2%;}

.row.halves .column.one { width:48%; margin-right: 2%; }
.row.halves .column.two { width:48%; margin-left: 2%;}

.cpb-pagebreak {page-break-before: always;}

.cpb-figure-table,
.cpb-figure {
	box-sizing:border-box;
	padding: 0.5rem;
	border:1px solid #ddd;
	background:#fff;
	margin-bottom: 1rem;
}
		
.cpb-figure-table figcaption,
.cpb-figure figcaption {
	padding: 0.25rem 0 0.5rem;
	font-size:0.8rem;
}

.cpb-image {
	margin-bottom: 1rem;
}

/* CSS HOOKS */
.small-text {
	font-size: 10px;
}

